[submodule "Componentes/DUnitX"]
	path = Componentes/DUnitX
	url = https://github.com/VSoftTechnologies/DUnitX.git
[submodule "Componentes/Delphi-Mocks"]
	path = Componentes/Delphi-Mocks
	url = https://github.com/VSoftTechnologies/Delphi-Mocks.git
[submodule "Componentes/DUnit"]
	path = Componentes/DUnit
	url = https://github.com/Pawe1/DUnit.git
[submodule "Componentes/DelphiSpec"]
	path = Componentes/DelphiSpec
	url = https://github.com/RomanYankovsky/DelphiSpec.git
[submodule "Componentes/delphi-code-coverage"]
	path = Componentes/delphi-code-coverage
	url = https://github.com/magicmonty/delphi-code-coverage.git
[submodule "Componentes/DelphiCodeCoverageExample"]
	path = Componentes/DelphiCodeCoverageExample
	url = https://github.com/VSoftTechnologies/DelphiCodeCoverageExample.git
[submodule "Exemplos/delphi-exercism"]
	path = Exemplos/delphi-exercism
	url = https://github.com/exercism/delphi.git
