*.dcu
DUnitX/__history/
DUnitX/Win32/Debug/dunitx-results.xml
DUnitX/Win32/
DUnitX/TestBankX.stat
DUnitX/TestBankX.identcache
DUnitX/TestBankX.dproj.local
DUnit/__history/
DUnit/Win32/
DUnit/TestBank.stat
SimpleClassTest.groupproj.local
